:root {
  --color-muted-sage: #8DAA91;
  --color-forest-green: #5C715E;
  --color-clay-brown: #A6785D;
  --color-warm-sand: #D8C9A7;
  --color-terracotta: #B4745E;
  --color-stone-gray: #7D8078;
  --color-pebble-gray: #E2E0DA;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--color-forest-green);
    color: var(--color-pebble-gray);
}

.logo {
    height: 150px;
    width: auto;
    padding-right: 2rem;
}

.navigation {
    text-align: center;
    background-color: var(--color-clay-brown);
}

.navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.navigation li {
    position: relative;
}

.navigation ul li ul {
    display: none;
}

.navigation ul li:hover > ul {
    display: block;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--color-pebble-gray);
    margin: 2rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.navigation a:hover {
    color: var(--color-warm-sand);
}

#active {
  color: var(--color-warm-sand);
  text-decoration: underline;
}

.dropdown {
    flex: none;
    position: relative;
}

.dropdown.open .dropdown-content {
    display: block;
}

.dropdown-content {
    width: max-content;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-clay-brown);
    width: max-content;
    min-width: 140px;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content li a {
    padding: 12px 16px;
}

.dropdown-content li a:hover {
    background-color: var(--color-warm-sand);
    color: var(--color-forest-green);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    flex: 1;
    background-color: var(--color-pebble-gray);
    z-index: 0;
}

.intro {
    min-height: 200px;
    text-align: center;
    align-content: center;
    padding: 2rem;
    color: var(--color-forest-green);
}

.sub-heading {
    font-size: 2rem;
}

.body-text {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--color-stone-gray);
}

.footer {
    background-color: var(--color-forest-green);
    color: var(--color-pebble-gray);
    text-align: center;
    padding: 1rem;
}

.footer a {
    color: var(--color-pebble-gray);
    cursor: pointer;
}

.footer a:hover {
    color: var(--color-warm-sand);
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--color-warm-sand);
    padding: 2rem;
}

.gallery-item {
    width: 300px;
    margin: 1rem;
    background-color: var(--color-pebble-gray);
    border: 2px solid var(--color-muted-sage);
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.gallery-item-title {
    font-size: 1.5rem;
    color: var(--color-forest-green);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.gallery-item-text {
    font-size: 1rem;
    color: var(--color-forest-green);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.gallery-item-link {
    font-size: 1rem;
    color: var(--color-terracotta);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    cursor: pointer;
}

.featured-services {
    background-color: var(--color-warm-sand);
    padding: 2rem;
    text-align: center;
}

.designer-infos {
    background-color: var(--color-warm-sand);
    padding: 2rem;
    text-align: center;
}

.designer-info {
    display: inline-block;
    width: 250px;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid var(--color-muted-sage);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-pebble-gray);
}

.designer-info .sub-heading {
    font-size: 1.7rem;
    color: var(--color-forest-green);
    margin-bottom: 0.5rem;
}

.designer-info .body-text {
    font-size: 1.2rem;
    color: var(--color-terracotta);
    line-height: 1.5;
}

.services {
    background-color: var(--color-warm-sand);
    padding: 2rem;
    text-align: center;
}

.service {
    display: inline-block;
    width: 250px;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid var(--color-muted-sage);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-pebble-gray);
}

.service-title {
    font-size: 1.7rem;
    color: var(--color-forest-green);
    margin-bottom: 0.5rem;
}

.service-bio {
    font-size: 1.2rem;
    color: var(--color-terracotta);
    line-height: 1.5;
}

.service-link {
    font-size: 1.3rem;
    display: inline;
    color: var(--color-forest-green);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    text-decoration: underline;
    cursor: pointer;
}

.service-link:hover {
    color: var(--color-terracotta);
}

.pricing {
    padding: 2rem;
    text-align: center;
}

.pricing .sub-heading {
    color: var(--color-forest-green);
    margin-bottom: 1rem;
}

.contact-link {
    color: var(--color-terracotta);
    text-decoration: underline;
    cursor: pointer;
}

.contact-info {
    background-color: var(--color-warm-sand);
    padding: 2rem;
}

.contact-text{
    display: inline-block;
    width: 250px;
    margin: 3.8rem;
    padding: 1rem;
    border: 2px solid var(--color-muted-sage);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--color-pebble-gray);
    color: var(--color-forest-green);
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
}

.contact-info a {
    color: var(--color-terracotta);
    text-decoration: underline;
    cursor: pointer;
}

.contact-title {
    font-size: 1.7rem;
    color: var(--color-forest-green);
    margin-bottom: 1rem;
}

/* Small screens - mobile/tablet */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 1rem;
        font-size: 1.5rem;
    }

    .logo {
        height: 100px;
        padding-right: 0;
        margin-bottom: 1rem;
    }

    .navigation ul {
        flex-direction: column;
        gap: 0;
    }

    .navigation a {
        margin: 0.5rem 0;
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .designer-bio {
        flex-direction: column;
        height: auto;
    }

    .designer-bio .body-text {
        width: 90%;
        line-height: 2;
    }

    .designer-photo {
        height: 250px;
        margin-bottom: 1rem;
    }

    .portfolio-gallery {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .gallery-item {
        width: 90%;
        margin: 0.5rem 0;
    }

    .services .service {
        width: 90%;
        margin: 1rem 0;
    }

    .contact-text {
        width: 93%;
        margin: 2rem auto;
    }
}
